use flake

export NX_DAEMON=false
export NX_ISOLATE_PLUGINS=false
export NX_WORKSPACE_DATA_DIRECTORY="$HOME/.cache/nx-workspace-data/nextjs-router-events"
export NX_CACHE_DIRECTORY="$HOME/.cache/nx-cache/nextjs-router-events"
